{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="bb-custom-wrapper">
		<div id="bb-bookblock" class="bb-bookblock">
			<div class="bb-item" id="intro">
				<div class="content">
					<div class="scroller">
						<h2>Lung Cancer Screening:<br>Is it right for me?</h2>
						<h3>A decision aid for lung cancer screening</h3>
						<p>This is a tool to help you learn about the benefits and harms of lung cancer screening.</p>
						<p>It can help you decide if lung cancer screening is right for you.</p>
						<p>Click the "next" button to the right to continue.</p>
					</div>
				</div>
			</div>
			<div class="bb-item" id="whatIsLCS">
				<div class="content">
					<div class="scroller">
						<h2>What is Lung Cancer Screening</h2>
						<p>Lung cancer screening is used to find lung cancer before it has spread.</p>
						<p>Low-dose computer tomography (LDCT) is used for the lung cancer screening. The scan uses low amounts of radiation to get images of your lungs. It is not painful.</p>
						<!--
							<video id="LDCTVideo" width="780" controls>
											<source src="VolkCTScan.mp4" type="video/mp4">
											<source src="VolkCTScan_1.mov" type="video/mov">
							</video>
            -->
					</div>
				</div>
			</div>

			<div class="bb-item" id="benefitsLCS">
				<div class="content">
					<div class="scroller">
						<h2>Benefits of Lung Cancer Screening</h2>
						<p>To see the benefits of lung cancer screening, let’s look at 1,000 people who are at high risk for lung cancer.

							<!--                                    <br>Of these people, 18 who are screened would die of lung cancer.-->
						</p>
						<img style="clear:left;" src="{% static 'images/1000ppl-01.svg' %}" width="730"  id="BenefitsLCSImg">

						<p class="ptQuery" id="BenefitsLCSQuery" data-repImg="18ppl.svg" data-origImg ="1000ppl-01.svg" data-target="BenefitsLCSImg">Show me what happens to this population...(tap to view)</p>
					</div>
				</div>
			</div>

			<div class="bb-item" id="screened">
				<div class="content">
					<div class="scroller">
						<h2>People who ARE screened</h2>
						<p>This figure represents 1000 people who ARE screened for lung cancer.</p>
						<img style="clear:left;" src="{% static 'images/1000ppl-01.svg' %}" width="730" id="screenedBlank">
						<p class="ptQuery" id="screenedQuery" data-repImg="18ppl.svg" data-origImg ="1000ppl-01.svg" data-target="screenedBlank">How many of the 1000 people screened for lung cancer will die from lung cancer? (tap to view)</p>
					</div>
				</div>
			</div>
			<div class="bb-item" id="notScreened">
				<div class="content">
					<div class="scroller">
						<h2>People who ARE NOT screened.</h2>
						<p>This figure represents 1000 people who ARE NOT screened for lung cancer.
							{#									<br>Research shows that 21 out of the 1000 people who not screen would die of lung cancer.#}
						</p>
						<img style="clear:left;" src="{% static 'images/1000ppl-01.svg' %}" width="730" id="notScreenedBlank">
						<p class="ptQuery" id="notScreenedQuery" data-repImg="21ppl.svg" data-origImg ="1000ppl-01.svg" data-target="notScreenedBlank">How many of the 1000 people NOT screened for lung cancer will die from lung cancer? (tap to view)</p>
					</div>
				</div>
			</div>
			<div class="bb-item" id="screenedVunscreened">
				<div class="content">
					<div class="scroller">
						<h2>Screened versus Without Screening</h2>
						<p>With LDCT screening, 3 fewer people will die from lung cancer.</p>
						<img style="clear:left;" src="{% static 'images/1000ppl-01.svg' %}" width="730" id="screenedVunscreenedBlank">
						<p class="ptQuery" id="screenedVunscreenedQuery" data-repImg="3ppl.svg" data-origImg ="1000ppl-01.svg" data-target="screenedVunscreenedBlank">How many of the 1000 people NOT screened for lung cancer will die from lung cancer? (tap to view)</p>
					</div>
				</div>
			</div>

			<div class="bb-item" id="benefits2">
				<div class="content">
					<div class="scroller">
						<h2>Greater Chance of NOT Dying from any cause<br>(not just lung cancer)</h2>
						<div class="highlighted-content">
							<h3>Over a 6 to 7 year period:</h3>
							<p>70 out of 1,000 people who ARE screened for lung cancer<br>will die from any cause.</p>
							<p>75 out of 1,000 people who are NOT screened for lung cancer<br>will die from any cause.</p>
							<p class="emphasized">With LDCT screening, 5 fewer people<br>will die from any cause.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="bb-item" id="possibleRisks">
				<div class="content">
					<div class="scroller">
						<h2>Possible Risks</h2>
						<p>False-positives, invasive procedures, complication</p>
						<p>Numbers to come.</p>
					</div>
				</div>
			</div>

			<div class="bb-item" id="risksExposure">
				<div class="content">
					<div class="scroller">
						<h2>Risk: Exposure to Radiation</h2>
						<p style="font-size: 1.1em">LDCT scans expose a person to radiation, which can increase his or her risk of developing cancer. We do not know how radiation from LDCT scan may affect a person's health.</p>
						<img src="{% static 'images/rad-chart-noBars.svg' %}" style="width:95%;margin-top: 0%;margin-left:15px" id="radExpBlank">
						<p class="ptQuery" id="radExpQuery"  data-repImg="rad-chart-withBars.svg" data-origImg ="rad-chart-noBars.svg" data-target="radExpBlank">Radiation exposure (tap to view)</p>
					</div>
				</div>
			</div>

			<div class="bb-item" id="risksOverDx">
				<div class="content">
					<div class="scroller">
						<h2>Risk: Overdiagnosis</h2>
						<div class="highlighted-content">
							<p class="emphasized">Lung cancer screening may find lung cancer that would not have ever caused symptoms or harmed you in your lifetime. This is called over-diagnosis.</p>
							<p class="emphasized">Over-diagnosis means that some people may get treatment that they do not need.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="bb-item" id="otherConsids">
				<div class="content">
					<div class="scroller">
						<h2>Something else to consider about lung cancer screening</h2>
						<div class="highlighted-content">
							<p class="emphasized">Lung cancer screening may find other health<br>issues that are not cancer.</p>
							<p class="emphasized">Screening can find health problems like heart disease, kidney problems, and thickened lung tissue.</p>
						</div>
					</div>
				</div>
			</div>
			<form action="" method="post">
				{% csrf_token %}
				<div class="bb-item" id="followUp">
					<div class="content">
						<div class="scroller">
							<div class="formContent">
								<h2>Your Concerns</h2>
								<table class="ptResponses">
									<tr class="tableHead">
										<th></th>
										<th class="colHead">Very Concerned</th>
										<th class="colHead">Somewhat Concerned</th>
										<th class="colHead">Not Concerned</th>
									</tr>
									<tr>
										<th colspan="4"></th>
									</tr>
									<tr>
										<th class="boldHead">How important is it to you to find lung cancer early when it may be treated more easily treated?</th>
										<td><input type="radio" name="q_concerned_find_cancer" value="Very Concerned" class="css-checkbox"></td>
										<td><input type="radio" name="q_concerned_find_cancer" value="Somewhat Concerned" class="css-checkbox"></td>
										<td><input type="radio" name="q_concerned_find_cancer" value="Not Concerned" class="css-checkbox"></td>
									</tr>
									<tr>
										<th colspan="4" class="boldHead" style="padding-top: 1em;">How concerned are you about...</th>
									</tr>
									<tr>
										<th class="queryDetail">having a false alarm?</th>
										<td><input type="radio" name="q_concerned_false_alarm" value="Very Concerned"></td>
										<td><input type="radio" name="q_concerned_false_alarm" value="Somewhat Concerned"></td>
										<td><input type="radio" name="q_concerned_false_alarm" value="Not Concerned"></td>
									</tr>
									<tr>
										<th class="queryDetail">being exposed to radiation from lung cancer?</th>
										<td><input type="radio" name="q_concerned_radiation" value="Very Concerned"></td>
										<td><input type="radio" name="q_concerned_radiation" value="Somewhat Concerned"></td>
										<td><input type="radio" name="q_concerned_radiation" value="Not Concerned"></td>
									</tr>
									<tr>
										<th class="queryDetail">being treated for lung cancer that never would have harmed you?</th>
										<td><input type="radio" name="q_concerned_unnecessary_treatment" value="Very Concerned"></td>
										<td><input type="radio" name="q_concerned_unnecessary_treatment" value="Somewhat Concerned"></td>
										<td><input type="radio" name="q_concerned_unnecessary_treatment" value="Not Concerned"></td>
									</tr>
									<tr>
										<th class="queryDetail">having surgery if lung cancer is found?</th>
										<td><input type="radio" name="q_concerned_surgery" value="Very Concerned"></td>
										<td><input type="radio" name="q_concerned_surgery" value="Somewhat Concerned"></td>
										<td><input type="radio" name="q_concerned_surgery" value="Not Concerned"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="bb-item" id="talkAbout">
					<div class="content">
						<div class="scroller">
							<h2>Talking About Lung Cancer Screening</h2>
							<table class="ptResponses">
								<tr>
									<th class="boldHead" style="padding-top: 1em;">Things you might want to talk about...</th>
									<th class="colHead">Yes, I want to talk about this</th>
									<th class="colHead">No, I don't want to talk about this</th>
								</tr>
								<tr>
									<th class="queryDetail">what happens if I decide NOT to be screened for lung cancer.</th>
									<td><input type="radio" name="q_talk_not_screened" value="Yes"></td>
									<td><input type="radio" name="q_talk_not_screened" value="No"></td>
								</tr>
								<tr>
									<th class="queryDetail">how soon I will know the results of screening.</th>
									<td><input type="radio" name="q_talk_how_soon" value="Yes"></td>
									<td><input type="radio" name="q_talk_how_soon" value="No"></td>
								</tr>
								<tr>
									<th class="queryDetail">what happens if the lung cancer screening shows something that may need more testing.</th>
									<td><input type="radio" name="q_talk_more_screening" value="Yes"></td>
									<td><input type="radio" name="q_talk_more_screening" value="No"></td>
								</tr>
								<tr>
									<th class="queryDetail">having surgery if lung cancer is found?</th>
									<td><input type="radio" name="q_talk_having_surgery" value="Yes"></td>
									<td><input type="radio" name="q_talk_having_surgery" value="No"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="bb-item" id="keyMessages">
					<div class="content">
						<div class="scroller">
							<h2>Before you talk to your provider, please confirm the comments below:</h2>
							<p class="confirmed"><input type="checkbox" name="q_confirm_quit_smoking" value="true">&nbsp;&nbsp;The best thing to lower your risk of dying from lung cancer is to quit smoking or continue to not smoke.</p>
							<p class="confirmed"><input type="checkbox" name="q_confirm_annual_screening" value="true">&nbsp;&nbsp;I shouLd return once a year for annual screening.</p>
						</div>
					</div>
					<button type="submit">Submit</button>
				</div>
			</form>
			<div class="bb-item" id="closing">
				<div class="content">
					<div class="scroller">
						<h2>Thank You!</h2>
						<p class="emphasized">Thank you for reviewing this information. Please hold on to this iPad and a staff person will assist you shortly.</p>
					</div>
				</div>
			</div>
		</div>

	<div id="mdanderson_logo">
		logo to come
	</div>

	<nav>
		<span id="bb-nav-prev">&larr;</span>
		<span id="bb-nav-next">&rarr;</span>
	</nav>

	</div>

{% endblock %}