{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<div class="bb-custom-wrapper">
		<div id="bb-bookblock" class="bb-bookblock">
			<div class="bb-item" id="closing">
				<div class="content">
					<div class="scroller">
						<h2>Thank You!</h2>
						<p class="emphasized">Thank you for reviewing this information. Please hold on to this iPad and a staff person will assist you shortly.</p>
					</div>
				</div>
			</div>
		</div>
	<div id="mdanderson_logo">
		logo to come
	</div>

	</div>

{% endblock %}